In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

In [2]:
spark = SparkSession.builder.appName("NYC Yellow Taxi Analysis").getOrCreate()

# Read files to data

In [3]:
# Load the dataset in .parquet format
import os

path = 'raw_data'
parquet_file_name = os.listdir(path)

raw_data = []

for file_name in parquet_file_name:
    parquet_path = os.path.join(path, file_name)
    raw_data.append(spark.read.parquet(parquet_path))

zone_table_path = 'taxi_zone_lookup.csv'
zone_df = spark.read.option('header', 'true').csv(zone_table_path)

In [4]:
# change the datatype for January data to make sure the consistent
from pyspark.sql.types import IntegerType, DoubleType, LongType

raw_data[0] = raw_data[0].withColumn('VendorID', raw_data[0]['VendorID'].cast(IntegerType(IF )))\
                        .withColumn('passenger_count', raw_data[0]['passenger_count'].cast(LongType()))\
                        .withColumn('RatecodeID', raw_data[0]['RatecodeID'].cast(LongType()))\
                        .withColumn('PULocationID', raw_data[0]['PULocationID'].cast(IntegerType()))\
                        .withColumn('DOLocationID', raw_data[0]['DOLocationID'].cast(IntegerType()))

# change the zone to integer
zone_df = zone_df.withColumn('LocationID', zone_df['LocationID'].cast(IntegerType()))

In [5]:
# Print the schema to understand the structure of the dataset
raw_data[0].printSchema()
zone_df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

root
 |-- LocationID: integer (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [6]:
# union the raw data into one df
df = raw_data[0]

for i in range(1, len(raw_data)):
    df = df.union(raw_data[i])

In [7]:
total_trips = df.count()
print(f"Total trips: {total_trips}")

Total trips: 38310226

# Analysis by Month

In [8]:
# group by month
from pyspark.sql.functions import month

group_by_month = df.groupBy(month(col('tpep_pickup_datetime')).alias('Month'))

In [9]:
# trips per month
from pyspark.sql.functions import count

trips_month = group_by_month.agg(count('*').alias('Trips')).orderBy(col('Month').asc())
trips_month.show()

+-----+-------+
|Month|  Trips|
+-----+-------+
|    1|3066759|
|    2|2914003|
|    3|3403660|
|    4|3288248|
|    5|3513664|
|    6|3307259|
|    7|2907093|
|    8|2824201|
|    9|2846741|
|   10|3522280|
|   11|3339732|
|   12|3376586|
+-----+-------+

In [10]:
# total revenue per month
from pyspark.sql.functions import sum as spark_sum

revenue_month = group_by_month.agg(spark_sum(col('total_amount')).alias('Total Revenue'))\
    .orderBy(col('Month').asc())
revenue_month.show()

+-----+--------------------+
|Month|       Total Revenue|
+-----+--------------------+
|    1| 8.286512795978236E7|
|    2| 7.838160042983432E7|
|    3| 9.463402765971829E7|
|    4| 9.295684310977364E7|
|    5|1.0176602127973004E8|
|    6| 9.613736022974902E7|
|    7| 8.305003029981662E7|
|    8| 8.085130960007511E7|
|    9| 8.478139693005617E7|
|   10|1.0274983841009632E8|
|   11| 9.583627967009455E7|
|   12| 9.637357631009677E7|
+-----+--------------------+

In [14]:
# average income in 2 hours interval each month
from pyspark.sql.functions import hour, when, avg as spark_avg, round as spark_round

time_interval = df.withColumn('hour', hour(col('tpep_pickup_datetime')))

time_interval = time_interval.withColumn('Time Interval',
                    when((col("hour") >= 0) & (col("hour") < 2), "00:00 - 02:00")
                   .when((col("hour") >= 2) & (col("hour") < 4), "02:00 - 04:00")
                   .when((col("hour") >= 4) & (col("hour") < 6), "04:00 - 06:00")
                   .when((col("hour") >= 6) & (col("hour") < 8), "06:00 - 08:00")
                   .when((col("hour") >= 8) & (col("hour") < 10), "08:00 - 10:00")
                   .when((col("hour") >= 10) & (col("hour") < 12), "10:00 - 12:00")
                   .when((col("hour") >= 12) & (col("hour") < 14), "12:00 - 14:00")
                   .when((col("hour") >= 14) & (col("hour") < 16), "14:00 - 16:00")
                   .when((col("hour") >= 16) & (col("hour") < 18), "16:00 - 18:00")
                   .when((col("hour") >= 18) & (col("hour") < 20), "18:00 - 20:00")
                   .when((col("hour") >= 20) & (col("hour") < 22), "20:00 - 22:00")
                   .when((col("hour") >= 22) & (col("hour") < 24), "22:00 - 00:00"))

income_time_interval = time_interval.groupBy(month(col('tpep_pickup_datetime')).alias('Month'),'Time Interval')\
                        .agg(spark_round(spark_avg(col('total_amount')), 2).alias('Avg Income'),\
                        spark_round(spark_avg(col('tip_amount')), 2).alias('Avg Tip'))\
                        .orderBy('Month', 'Time Interval')

income_time_interval.show(n=income_time_interval.count(),truncate=False)

+-----+-------------+----------+-------+
|Month|Time Interval|Avg Income|Avg Tip|
+-----+-------------+----------+-------+
|1    |00:00 - 02:00|27.46     |3.41   |
|1    |02:00 - 04:00|25.08     |3.03   |
|1    |04:00 - 06:00|33.51     |3.69   |
|1    |06:00 - 08:00|27.87     |3.3    |
|1    |08:00 - 10:00|25.17     |3.14   |
|1    |10:00 - 12:00|25.09     |3.09   |
|1    |12:00 - 14:00|25.77     |3.16   |
|1    |14:00 - 16:00|27.43     |3.37   |
|1    |16:00 - 18:00|28.76     |3.58   |
|1    |18:00 - 20:00|26.75     |3.41   |
|1    |20:00 - 22:00|26.95     |3.5    |
|1    |22:00 - 00:00|28.8      |3.66   |
|2    |00:00 - 02:00|26.47     |3.31   |
|2    |02:00 - 04:00|24.38     |2.94   |
|2    |04:00 - 06:00|35.09     |3.97   |
|2    |06:00 - 08:00|28.06     |3.36   |
|2    |08:00 - 10:00|25.2      |3.16   |
|2    |10:00 - 12:00|25.08     |3.11   |
|2    |12:00 - 14:00|26.21     |3.24   |
|2    |14:00 - 16:00|27.41     |3.4    |
|2    |16:00 - 18:00|28.4      |3.57   |
|2    |18:00 - 20:00|26.65     |3.43   |
|2    |20:00 - 22:00|26.74     |3.51   |
|2    |22:00 - 00:00|28.11     |3.63   |
|3    |00:00 - 02:00|27.67     |3.44   |
|3    |02:00 - 04:00|25.32     |3.04   |
|3    |04:00 - 06:00|35.0      |4.03   |
|3    |06:00 - 08:00|28.64     |3.46   |
|3    |08:00 - 10:00|25.87     |3.25   |
|3    |10:00 - 12:00|26.21     |3.25   |
|3    |12:00 - 14:00|27.11     |3.36   |
|3    |14:00 - 16:00|28.65     |3.56   |
|3    |16:00 - 18:00|29.71     |3.71   |
|3    |18:00 - 20:00|27.43     |3.51   |
|3    |20:00 - 22:00|27.14     |3.55   |
|3    |22:00 - 00:00|28.89     |3.73   |
|4    |00:00 - 02:00|27.68     |3.42   |
|4    |02:00 - 04:00|25.09     |3.01   |
|4    |04:00 - 06:00|35.87     |4.0    |
|4    |06:00 - 08:00|29.48     |3.51   |
|4    |08:00 - 10:00|26.28     |3.25   |
|4    |10:00 - 12:00|26.5      |3.25   |
|4    |12:00 - 14:00|27.77     |3.41   |
|4    |14:00 - 16:00|29.33     |3.61   |
|4    |16:00 - 18:00|30.3      |3.75   |
|4    |18:00 - 20:00|27.87     |3.5    |
|4    |20:00 - 22:00|27.42     |3.53   |
|4    |22:00 - 00:00|29.43     |3.76   |
|5    |00:00 - 02:00|27.98     |3.44   |
|5    |02:00 - 04:00|25.25     |3.01   |
|5    |04:00 - 06:00|36.2      |4.13   |
|5    |06:00 - 08:00|28.87     |3.48   |
|5    |08:00 - 10:00|27.03     |3.38   |
|5    |10:00 - 12:00|27.83     |3.42   |
|5    |12:00 - 14:00|29.15     |3.58   |
|5    |14:00 - 16:00|30.39     |3.75   |
|5    |16:00 - 18:00|31.3      |3.89   |
|5    |18:00 - 20:00|28.15     |3.57   |
|5    |20:00 - 22:00|27.81     |3.59   |
|5    |22:00 - 00:00|29.47     |3.76   |
|6    |00:00 - 02:00|28.9      |3.53   |
|6    |02:00 - 04:00|26.39     |3.13   |
|6    |04:00 - 06:00|36.54     |4.1    |
|6    |06:00 - 08:00|29.16     |3.47   |
|6    |08:00 - 10:00|27.0      |3.36   |
|6    |10:00 - 12:00|27.44     |3.37   |
|6    |12:00 - 14:00|29.66     |3.53   |
|6    |14:00 - 16:00|29.85     |3.68   |
|6    |16:00 - 18:00|31.11     |3.84   |
|6    |18:00 - 20:00|28.12     |3.54   |
|6    |20:00 - 22:00|28.27     |3.63   |
|6    |22:00 - 00:00|30.05     |3.81   |
|7    |00:00 - 02:00|29.41     |3.5    |
|7    |02:00 - 04:00|26.78     |3.06   |
|7    |04:00 - 06:00|36.31     |3.89   |
|7    |06:00 - 08:00|29.41     |3.41   |
|7    |08:00 - 10:00|26.98     |3.27   |
|7    |10:00 - 12:00|26.99     |3.22   |
|7    |12:00 - 14:00|27.49     |3.29   |
|7    |14:00 - 16:00|28.82     |3.45   |
|7    |16:00 - 18:00|30.25     |3.63   |
|7    |18:00 - 20:00|27.95     |3.43   |
|7    |20:00 - 22:00|28.23     |3.54   |
|7    |22:00 - 00:00|30.1      |3.71   |
|8    |00:00 - 02:00|28.05     |3.27   |
|8    |02:00 - 04:00|25.63     |2.88   |
|8    |04:00 - 06:00|35.55     |3.79   |
|8    |06:00 - 08:00|29.18     |3.31   |
|8    |08:00 - 10:00|26.61     |3.2    |
|8    |10:00 - 12:00|27.1      |3.19   |
|8    |12:00 - 14:00|28.02     |3.31   |
|8    |14:00 - 16:00|29.18     |3.45   |
|8    |16:00 - 18:00|30.64     |3.63   |
|8    |18:00 - 20:00|28.23     |3.43   |
|8    |20:00 - 22:00|28.41     |3.53   |
|8    |22:00 - 00:00|29.92     |3.63   |
|9    |00:00 - 02:00|28.67     |3.39   |
|9    |02:00 - 04:00|25.63     |2.93   |
|9    |04:00 - 06:00|35.56     |3.85   |
|9    |06:00 - 08:00|29.03     |3.41   |
|9    |08:00 - 10:00|27.77     |3.42   |
|9    |10:00 - 12:00|29.11     |3.51   |
|9    |12:00 - 14:00|29.58     |3.61   |
|9    |14:00 - 16:00|31.63     |3.78   |
|9    |16:00 - 18:00|32.04     |3.91   |
|9    |18:00 - 20:00|29.13     |3.6    |
|9    |20:00 - 22:00|28.97     |3.66   |
|9    |22:00 - 00:00|30.15     |3.71   |
|10   |00:00 - 02:00|27.09     |3.26   |
|10   |02:00 - 04:00|24.77     |2.89   |
|10   |04:00 - 06:00|36.0      |4.11   |
|10   |06:00 - 08:00|29.21     |3.47   |
|10   |08:00 - 10:00|27.21     |3.38   |
|10   |10:00 - 12:00|27.75     |3.45   |
|10   |12:00 - 14:00|28.84     |3.59   |
|10   |14:00 - 16:00|30.73     |3.82   |
|10   |16:00 - 18:00|31.32     |3.91   |
|10   |18:00 - 20:00|28.98     |3.64   |
|10   |20:00 - 22:00|28.72     |3.7    |
|10   |22:00 - 00:00|29.78     |3.75   |
|11   |00:00 - 02:00|26.16     |3.21   |
|11   |02:00 - 04:00|24.09     |2.83   |
|11   |04:00 - 06:00|35.48     |3.99   |
|11   |06:00 - 08:00|28.92     |3.5    |
|11   |08:00 - 10:00|27.23     |3.41   |
|11   |10:00 - 12:00|27.65     |3.48   |
|11   |12:00 - 14:00|28.65     |3.59   |
|11   |14:00 - 16:00|30.27     |3.81   |
|11   |16:00 - 18:00|30.65     |3.86   |
|11   |18:00 - 20:00|28.46     |3.62   |
|11   |20:00 - 22:00|27.95     |3.68   |
|11   |22:00 - 00:00|28.64     |3.65   |
|12   |00:00 - 02:00|26.65     |3.19   |
|12   |02:00 - 04:00|24.41     |2.85   |
|12   |04:00 - 06:00|34.91     |3.83   |
|12   |06:00 - 08:00|29.67     |3.49   |
|12   |08:00 - 10:00|27.15     |3.34   |
|12   |10:00 - 12:00|27.23     |3.39   |
|12   |12:00 - 14:00|27.94     |3.44   |
|12   |14:00 - 16:00|29.89     |3.67   |
|12   |16:00 - 18:00|30.86     |3.79   |
|12   |18:00 - 20:00|28.59     |3.54   |
|12   |20:00 - 22:00|27.68     |3.54   |
|12   |22:00 - 00:00|28.5      |3.55   |
+-----+-------------+----------+-------+

# Borough trips

In [37]:
# Join the two table
# name alias for the dataset first to avoid confusion and ambiguity of rejoin with the same dataset
trips_df = df.alias('trips')
locations_df_alias_pu = zone_df.alias("pu_locations")
locations_df_alias_do = zone_df.alias("do_locations")

trips_with_pu_borough = trips_df.join(locations_df_alias_pu,\
                    trips_df.PULocationID == locations_df_alias_pu.LocationID, how='left')\
                    .select(trips_df['*'],col("pu_locations.Borough").alias('PU Borough')
)

trips_with_boroughs = trips_with_pu_borough.join(locations_df_alias_do,\
                    trips_with_pu_borough.DOLocationID == locations_df_alias_do.LocationID, how='left')\
                    .select(trips_with_pu_borough['*'], col("do_locations.Borough").alias('DO Borough')
)

# get only the trips that has different PU and DO location
corss_borough_trips = trips_with_boroughs.filter(col('PU Borough') != col('DO Borough'))

# count the number of trips and total income for every pair of borough
cross_borough_group = corss_borough_trips.groupBy('PU Borough', 'DO Borough')
result_df = cross_borough_group.agg(count('*').alias('Trips'), \
                                    spark_round(spark_sum(col('total_amount')),2).alias('Total Revenue'),\
                                    spark_round(spark_avg(col('total_amount')),2).alias('Avg Trip Revenue'))

# order rows
result_df = result_df.orderBy('PU Borough', 'DO Borough').orderBy(col('Total Revenue').desc())

result_df.show(n=income_time_interval.count(),truncate=False)

+-------------+-------------+-------+--------------+----------------+
|PU Borough   |DO Borough   |Trips  |Total Revenue |Avg Trip Revenue|
+-------------+-------------+-------+--------------+----------------+
|Queens       |Manhattan    |2125164|1.7057280433E8|80.26           |
|Manhattan    |Queens       |1184488|7.814936782E7 |65.98           |
|Queens       |Brooklyn     |552317 |3.773648694E7 |68.32           |
|Manhattan    |Brooklyn     |800033 |3.44390308E7  |43.05           |
|Manhattan    |EWR          |105643 |1.299695386E7 |123.03          |
|Queens       |N/A          |101888 |1.296407725E7 |127.24          |
|Queens       |Bronx        |79539  |5993290.4     |75.35           |
|Manhattan    |Bronx        |112602 |5074039.86    |45.06           |
|Manhattan    |N/A          |42767  |4483475.32    |104.83          |
|Brooklyn     |Manhattan    |104248 |4130135.78    |39.62           |
|Manhattan    |Unknown      |87450  |2315583.62    |26.48           |
|Unknown      |Manhattan    |56625  |1935741.95    |34.19           |
|Brooklyn     |Queens       |32400  |1547397.81    |47.76           |
|Queens       |EWR          |5664   |1063331.81    |187.74          |
|Bronx        |Manhattan    |22219  |822162.45     |37.0            |
|Queens       |Unknown      |11270  |762907.93     |67.69           |
|Queens       |Staten Island|5150   |588390.12     |114.25          |
|Manhattan    |Staten Island|4294   |430286.24     |100.21          |
|Unknown      |Queens       |7605   |373155.46     |49.07           |
|Bronx        |Brooklyn     |4962   |311983.46     |62.87           |
|Brooklyn     |Bronx        |4862   |309443.85     |63.65           |
|Bronx        |Queens       |5248   |277938.94     |52.96           |
|Unknown      |Brooklyn     |4625   |262983.31     |56.86           |
|N/A          |Manhattan    |4145   |212945.94     |51.37           |
|N/A          |Queens       |3730   |194541.34     |52.16           |
|Brooklyn     |EWR          |866    |103800.44     |119.86          |
|Brooklyn     |N/A          |888    |102039.66     |114.91          |
|N/A          |Brooklyn     |1965   |95097.55      |48.4            |
|N/A          |Unknown      |657    |79433.97      |120.9           |
|Unknown      |N/A          |612    |71011.68      |116.03          |
|N/A          |EWR          |550    |57309.93      |104.2           |
|Unknown      |EWR          |438    |54875.62      |125.29          |
|Bronx        |N/A          |522    |45954.73      |88.04           |
|Unknown      |Bronx        |785    |45005.99      |57.33           |
|Staten Island|Manhattan    |511    |44748.67      |87.57           |
|Brooklyn     |Staten Island|717    |39390.66      |54.94           |
|N/A          |Bronx        |857    |38126.7       |44.49           |
|Brooklyn     |Unknown      |867    |36410.28      |42.0            |
|Staten Island|Queens       |426    |34108.69      |80.07           |
|EWR          |Unknown      |252    |29414.25      |116.72          |
|Staten Island|Brooklyn     |429    |26109.04      |60.86           |
|Staten Island|Bronx        |221    |18353.79      |83.05           |
|Bronx        |Staten Island|205    |16925.61      |82.56           |
|EWR          |Manhattan    |118    |13526.31      |114.63          |
|EWR          |N/A          |192    |13250.19      |69.01           |
|Bronx        |Unknown      |222    |9374.11       |42.23           |
|Staten Island|N/A          |41     |7146.86       |174.31          |
|N/A          |Staten Island|103    |6262.79       |60.8            |
|EWR          |Queens       |28     |4530.39       |161.8           |
|Bronx        |EWR          |32     |4185.57       |130.8           |
|Unknown      |Staten Island|35     |3506.76       |100.19          |
|Staten Island|EWR          |19     |2459.68       |129.46          |
|EWR          |Brooklyn     |18     |2422.83       |134.6           |
|Staten Island|Unknown      |15     |1670.17       |111.34          |
|EWR          |Staten Island|13     |1423.29       |109.48          |
|EWR          |Bronx        |2      |335.65        |167.83          |
+-------------+-------------+-------+--------------+----------------+

In [10]:
# # Save the results to a CSV file
# results_path = "CSVs"
# df.repartition(1).write.option("header", "true").csv(results_path)

In [38]:
# Stop the Spark session
spark.stop()